@import '../../common/stylus/mixin.styl'

.ratingselect
  .rating-type
    padding: 18px 0
    margin: 0 18px
    border-1px(rgba(7, 17, 27, 0.1))
    font-size: 0
    .block
      display: inline-block
      padding: 8px 12px
      margin-right: 8px
      border-radius: 1px
      color: rgb(77, 85, 93)
      line-height: 16px
      font-size: 12px
      &.active
        color: #fff
      .count
        margin-left: 2px
        font-size: 8px
      &.positive
        background-color: rgba(0, 160, 220, 0.2)
        &.active
          background-color: rgba(0, 160, 220, 1)
      &.negative
        background-color: rgba(77, 85, 93, 0.2)
        &.active
          background-color: rgba(77, 85, 93, 1)
  .switch
    padding: 12px 18px
    line-height: 24px
    border-bottom: 1px solid rgba(7, 17, 27, 0.1)
    color: rgb(147, 153, 159)
    font-size: 0
    &.on
      .icon-check_circle
        color: #00c850
    .icon-check_circle
      display: inline-block
      vertical-align: top
      margin-right: 4px
      font-size: 24px
    .text
      font-size: 12px
      display: inline-block
      vertical-align: top
        
