@import '../../common/stylus/mixin.styl'

.icon
  display: inline-block
  background-size: cover
  background-repeat: no-repeat
  vertical-align: top
  &.decrease-1
    bg-image('decrease_1')
  &.discount-1
    bg-image('discount_1')
  &.guarantee-1
    bg-image('guarantee_1')
  &.invoice-1
    bg-image('invoice_1')
  &.speical-1
    bg-image('special_1')
  &.decrease-3 
    bg-image('decrease_3')
  &.discount-3
    bg-image('discount_3')
  &.guarantee-3
    bg-image('guarantee_3')
  &.invoice-3
    bg-image('invoice_3')
  &.speical-3
    bg-image('special_3')